h1 { 
    a background-color: pink; 
    text-align: center; 
    font-size: 50px; 
    color: #1C3A77 
}

html {
    background-color: pink;
}
ul {
color: #1C3A77; 
text-align: center; 
font-style: italic;
}
ol {
    color: #1C3A77; 
    text-align: center;
}
.cher {
display: block;
margin-left: auto;
margin-right: auto;
width: auto;
}